input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: rgba(241, 235, 235, 0.815);
  }

  button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
  }
  button:hover {
    opacity: 0.8;
  }

  .modal {
    background-color: lightgreen;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  .container{
    width: 500px;
    background-color: white;
    height: 500px;
    margin: auto;
    /* margin-top: 500px; */
    /* padding: 100px; */
    /* margin: 100px; */
    /* margin-top: 50px; */
  }

  .modal-content{
    padding: 150px;
    width: 300px;
    height: 300px;

  }